header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 30px 5px;
  border-bottom: rgb(225, 225, 225) solid 1px;
}

header > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 30px;
  gap: 10px;
  color: #04cdbd;
  font-weight: bold;
}
header > div > div {
  width: 42px;
}
header img {
  width: 100%;
}
